.button {
    -fx-background-color: #FAFBFC;
    -fx-border-color: rgba(27, 31, 35, 0.15);
    -fx-border-radius: 6px;
    -fx-box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    -fx-background-insets: 0;
    -fx-padding: 6px 16px;
    -fx-text-fill: #24292E;
    -fx-font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    -fx-font-size: 14px;
    -fx-font-weight: 500;
    -fx-cursor: hand;
    -fx-transition: -fx-background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    }
    
    .button:hover {
    -fx-background-color: #F3F4F6;
    -fx-transition-duration: 0.1s;
    }
    
    .button:disabled {
    -fx-background-color: #FAFBFC;
    -fx-border-color: rgba(27, 31, 35, 0.15);
    -fx-text-fill: #959DA5;
    -fx-cursor: default;
    }
    
    .button:pressed {
    -fx-background-color: #EDEFF2;
    -fx-box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    -fx-transition: none 0s;
    }